@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimPro/GT-Walsheim-Pro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimPro/GT-Walsheim-Pro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimPro/GT-Walsheim-Pro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimPro/GT-Walsheim-Pro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimPro/GT-Walsheim-Pro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimPro/GT-Walsheim-Pro-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimPro/GT-Walsheim-Pro-Ultra-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimPro/GT-Walsheim-Pro-Ultra-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}